{% extends "blog/base.html" %}

{% block contents %}
<article>
    <figure><img src="/static/img/blog.png" alt=""></figure>
    <p>
        M'adressant la plupart du temps à
        un auditoire francophone pour tout ce qui n'a pas trait au code ou à la
        technicité de mon métier, j'ai choisi de tenir ce blog en français.
        <em>Mind you.</em>
    </p>
</article>
<h2>Recent posts</h2>
{% include "_list.html" %}
{% if years|length %}
    <p>
        Archives
        {% for year in years  %}
            | <a href="{{ url_for("section_archives_year", section="blog", year=year) }}">{{ year }}</a>
        {% endfor %}
    </p>
{% endif %}
{% endblock contents %}
