<!doctype html>
<html class="no-js" lang="{% block lang %}en{% endblock lang %}">
<head>
    <meta charset="utf-8">
    {% block extra_head %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block page_title %}Home{% endblock page_title %} | Bin Chen</title>
    <meta name="description" content="Bin Chen's homepage.">
    <meta name="viewport" content="width=device-width">
    <link href="//fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
{%- assets filter="cssmin", output="packed.css",
    "css/style.css",
    "js/libs/prettify/sons-of-obsidians.css"
%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{%- endassets %}
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed_section", section="news") }}" title="Code (RSS)">
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed_section", section="gallery") }}" title="gallery (RSS)">
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("feed") }}" title="Everything (RSS)">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="{% block section %}home{% endblock %} {% block body_class %}{% endblock body_class %}" onload="prettyPrint()">
    <!--[if lt IE 7]>
    <p class="chromeframe">Your browser is <em>ancient!</em> Please <a href="http://www.quirksmode.org/upgrade.html">upgrade</a>.</p>
    <![endif]-->
    <div class="container">
        <header class="main-title">
            <h1><a href="{{ url_for("index") }}"><strong>Bin Chen</strong></a>'s Homepage</h1>
            <small>Assistant Researcher, Hawaii Institute of Geophysics and Planetology</small>
        </header>
        <main class="contents" role="main">
            {% block contents %}
            <p>These are the default contents.</p>
            {% endblock contents %}
        </main>
        <nav class="sidebar">
            <ul>
                <li class="home"><a href="{{ url_for("index") }}" hreflang="en">Home</a></li>
                <li class="news"><a href="{{ url_for("section", section="news") }}" hreflang="en">News</a></li>
                <li class="gallery"><a href="{{ url_for("section", section="gallery") }}" hreflang="en">Gallery</a></li>
                <li class="contact"><a href="{{ url_for("contact") }}" hreflang="en">Contact</a></li>
            </ul>
        </nav>
        <footer class="site-footer">
            <p>
                &copy; 2014 Bin Chen
                — <a href="https://twitter.com/bbchen">Tweet at me</a>
                — <a href="https://github.com/bbchen">Get my code</a>
                — <a href="{{ url_for("contact") }}">Contact me</a>
            </p>
        </footer>
    </div>
    <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script type="text/javascript" src=" {{ url_for('static', filename="js/libs/prettify/prettify.js") }} "></script>
    <script type="text/javascript" src=" {{ url_for('static', filename="js/app.js") }} "></script>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
