{% extends "base.html" %}

{% block page_title %}contact{% endblock %}
{% block section %}contact{% endblock %}

{% block contents %}
<h2>Contact</h2>
<p>
	<strong>Dr. Bin Chen</strong>
</p>
<ul class="disc">
    <li>Hawaii Institute of Geophysics and Planetology</li>
    <li>School of Ocean and Earth Science and Technology</li>
    <li>University of Hawaii at Manoa</li>
    <br>
    <li>1680 East West Road, POST Bldg, Office 819B</li>
    <li>Honolulu, Hawaii 96822</li>
    <li>Phone: (808) 956-6908</li>
    <li>Fax: (808) 956-3188</li>
    <li>Email: <a href="mailto:binchen@hawaii.edu">binchen@hawaii.edu</a></li>
</ul>
<p>
    You can also <a href="https://twitter.com/bbchen">follow me on Twitter</a> or
    <a href="https://github.com/bbchen">on Github</a>.
</p>
{% endblock contents %}
