{% extends "base.html" %}

{% block contents %}
<article>
    <figure><img src=" {{ url_for("static", filename="img/me.png") }} " alt="my photo"></figure>
{% filter markdown %}
Welcome to my research website.

</article>
{% endfilter %}

<section class="news">
    <h2>News</h2>
    {% with pages = news_posts %}
        {% include "_list.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="news") }}">See more news</a></p>
</section>

<section class="gallery clearfix">
    <h2>Gallery</h2>
    {% with pages = photos %}
        {% include "gallery/gallery.html" %}
    {% endwith %}
    <p class="more">&raquo; <a href="{{ url_for("section", section="gallery") }}">See more gallery photos</a></p>
</section>

{% endblock contents %}
